src/main/resources/xsd/gem.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="PreciousnessType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="precious"/>
            <xs:enumeration value="semiprecious"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ColorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="green"/>
            <xs:enumeration value="red"/>
            <xs:enumeration value="yellow"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PercentType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FacetCountType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="4"/>
            <xs:maxInclusive value="15"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MoneyType">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"/>
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="VisualParameters">
        <xs:sequence>
            <xs:element name="color" type="ColorType"/>
            <xs:element name="transparency" type="PercentType"/>
            <xs:element name="facets" type="FacetCountType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GemType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="preciousness" type="PreciousnessType"/>
            <xs:element name="origin" type="xs:string"/>
            <xs:element name="visualParameters" type="VisualParameters"/>
            <xs:element name="value" type="MoneyType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:element name="Gem" type="GemType"/>

</xs:schema>
