src/main/resources/xsd/gem.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:complexType name="GemType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="preciousness" type="xs:string"/>
            <xs:element name="origin" type="xs:string"/>
            <xs:element name="visualParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="color" type="xs:string"/>
                        <xs:element name="transparency" type="xs:decimal"/>
                        <xs:element name="facets" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="value" type="xs:decimal"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:element name="Gems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Gem" type="GemType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
